@import "_lams_variables.scss";

$button-row-height:40px; // use same value in monitoring

#select-lessons-area {
	display: none;
}

// .ui-jqgrid.ui-jqgrid-bootstrap .ui-th-column .cbox,
// .ui-jqgrid.ui-jqgrid-bootstrap .jqgrow>td>.cbox {
//     height: 14px !important;
//     width: 14px !important;
// }

/* Formatting buttons on the Gradebook Lesson screen */
#gbButtons {
	height: $button-row-height;
	padding: 0px !important;
}

.gbTopButtonsContainer div {
	display: inline;
}

.lockLabel {
	margin: 10px 5px 5px 0;
	display: block;
}

#markChartCard {
	margin: 0;
}

#markChartDiv {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 95%;
	height: 500px;
}

.archive td[role="gridcell"] {
	color: lighten($black, 50%);
}