@import "material-kit/bootstrap/scss/mixins/float.scss";
@import "material-kit/bootstrap/scss/mixins/breakpoints.scss";
@import "material-kit/bootstrap/scss/mixins/buttons.scss";
@import "material-kit/bootstrap/scss/mixins/box-shadow.scss";
@import "material-kit/mixins/animations.scss";

	@mixin form-control-focus() {
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }
}
@mixin portrait($size) {
	width: $size;
	height: $size;
	display: inline-block;
	background-repeat:no-repeat;
    background-size:cover;
}

// Generic avatars used in place of profile pictures
@mixin portrait-generic($height, $line-height) {
  display: inline-block;
  height: $height;
  vertical-align: middle;
  &:before {
  content: "\f2be";
  font-family: FontAwesome;
  font-style: normal;
  font-size: $height;
  font-weight: normal;
  line-height: $line-height;
} }
