// The content for defaultHTML_main.scss and all the equivalent skin files. Change this an then all the skin files change. 
 .dropdown-menu > li {
 	width: max-content;
 }
 .dropdown-menu {
 	a {
	    padding-right: 1rem;
	    padding-left: 1rem;
	    padding-top: 0.2rem;
    }
   .fa {
   		padding-right: .5rem;
   	}
}

// needed to override material kits setting it to transparent, extra long, for smaller screen
@include media-breakpoint-down(sm) {
	.top-nav .dropdown-menu {
		background-color: $main_menu_background !important;
		margin-top: -3px;
		padding: 0px;
		height: auto !important; 
		transition: transform $bmd-menu-expand-duration $bmd-animation-curve-default,
              opacity $bmd-menu-fade-duration $bmd-animation-curve-default !important;
  		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
	}
}
@include media-breakpoint-up(sm) {
	.top-nav .dropdown-menu {
		background-color: $main_menu_background !important;
		margin-top: -3px;
		padding: 0px;
		height: auto !important; 
		transition: transform $bmd-menu-expand-duration $bmd-animation-curve-default,
              opacity $bmd-menu-fade-duration $bmd-animation-curve-default !important;
  		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
	}
}

#offcanvas {
	position: fixed;
	width: 220px;
	z-index: 10;
	height: 100%;
	background: $main_offcanvas_background;
    color: $main_offcanvas_color;
}
.courses-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    font-size: 23px;
    width: 100%;
    margin-left: 0 !important;
    line-height: 49px;
    margin: 0;
    padding-left: 25px;
}
#page-wrapper {
	margin: 0 0 0 220px;
	padding: 10px 20px 0px;
}
.offcanvas-hidden #offcanvas {
	display: none;
}
.offcanvas-hidden #page-wrapper {
	margin: 0 0 0 0;
}
@media (min-width: 769px) {
	.icon-remove {
		display: none !important;
	}
}
@media (max-width: 768px) {
	#offcanvas {
		width: 100%;
	}
	.navbar-nav .open .dropdown-menu {
    	top:52px; /*hack to prevent disappearing*/
	}
}
@media (max-width: 870px) {
	body.offcanvas-hidden .xs-hidden {
		display: none !important;
	}
}
@media (max-width: 1170px) {
	body:not(.offcanvas-hidden) .xs-hidden {
		display: none !important;
	}
}

.content {
 	background: $body-bg;
}
/*FOOTER - settings that keep it at the bottom of the page*/
.fixed-footer {
	#page-wrapper {
	  display: flex;
	  flex-direction: column;
	  height: 96vh;
	}
	main {
	   flex: 1 0 auto;
	}
	footer {
		height: 10rem;
		flex-shrink: 0;
	 	a {
	 	 	color: $main_default_link; 
	 	 	text-decoration: none;
	 	 }
	 	a:hover, a:focus {
	  		color: $brand-primary-darker;
	 	}
	 	.card-body {
	 		font-size: .7rem;
	 	}
	}
}

/*OFFCANVAS BAR*/
.card-header-primary #favorite-star {
	color: $main_offcanvas_contrast_color;
}

#favorite-organisations {
    border-top: 1px solid $gray-300;
 	border-bottom: 1px solid $gray-300;
 	margin-bottom: 1rem;

	.list-group-item{
		display: block;
	}
	.list-group-item.active{
		background-color: $main_offcanvas_link_color;
		a	{
			color: $main_offcanvas_contrast_color;
		}
	}
	.list-group-item :first-child {
		margin-right: inherit;
	}
	.list-group-item:hover,
	.list-group-item:focus {
	   background-color: $main_offcanvas_hover_color;
	   color: $main_offcanvas_contrast_color;
	}
}
.tablesorter > tbody > tr > td {
	padding: 0.5rem 1rem 0.5rem 1rem;
}
.pagesize:hover,
.tablesorter td:hover,
.tablesorter td:focus {
   background-color: $main_offcanvas_hover_color;
   a {
	   color: $main_offcanvas_contrast_color;
	   }
}
.offcanvas-logo {
	padding: 20px 0px 15px 25px;
    background-color: $main_offcanvas_logo_background;
}
.offcanvas-logo .logo {
    background: url($offcanvas_logo) no-repeat center left;
    height: $offcanvas_height;
}
.offcanvas-header {
	padding: 15px 0px 0px 0px;
}
.offcanvas-search {
	padding: 15px 19px 15px;
	margin-bottom: 0;
}
.offcanvas-search 
	.input-group-text {
		padding: 0 3px 0 0;
	.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color: $gray;
	}
	.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $gray;
	}
	.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $gray;
	}
	.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: $gray;
	}
}

.ts-pager {
	text-align: center;
    padding: 0 10px 10px;
    color: darken($main_fav_org_link, 30%);
}
.ts-pager .btn{
	color: darken($main_fav_org_link, 10%);
    background-color: $brand-primary-darker;
    padding: 2px 5px;
    line-height: 1;
}
.tablesorter tfoot i {
	font-size: 11px;
}
.tablesorter tfoot th {
	background-color: $brand-primary-darker !important;
	padding: 10px 0;
}

.pagesize {
    border: 1px solid rgba(221, 226, 232, 0.49);
    background: $brand-primary-darker;
    cursor: pointer;
}

.icon-remove {
	cursor: pointer;
	position: absolute;
	width: 40px;
	top: 30px;
	right: 5px;
}
.icon-remove:hover {
	color: $body-bg;
}
.fa-chevron-circle-right.fa-lg {
	line-height: 1em;
}
// /*TOP HEADER*/
.top-nav {
	background: $main_topnav_background;
	margin: 0 0 0 220px;
	padding: 0px 20px 0px;
}
.offcanvas-hidden .navbar {
	margin: 0 0 0 0;
}
.offcanvas-hidden .navbar {
	margin: 0 0 0 0;
}

.navbar-logo {
	padding: 0.625rem;
	display: none;
}

.offcanvas-hidden .navbar-logo {
	display: initial;
}

.offcanvas-toggle-header {
    float: left;
    margin: 0;
    padding: 15px 0 10px 7px;
    width: 70px;
    cursor: pointer;
    border-radius: 3px;
}
@media (min-width: 768px) {
	.offcanvas-toggle-header {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
 }
.offcanvas-toggle-header i {
    padding: 0 15px 0;
}

.offcanvas-toggle i {
    font-size: 26px;
}
.top-nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
}
.top-nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
    border-radius: 3px;
}
@media (min-width: 480px) {
  .top-nav .navbar-right li {
    position: relative; 
 	 } 
}
#notificationsPendingCount{
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	padding: 2px 5px;
	position: absolute;
	left: 25px;
	top: 10px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	min-width: 10px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
}
#notificationsPendingCount.btn-default {
    background-color: $gray-light-mid;
}

#tablePrivateNotifications td.notificationsReadCell {
	font-size: 16px;
	width: 30px;
	text-align: center;
}

#tablePrivateNotifications td.notificationsPendingCell {
	font-weight: bold;
}

#tablePrivateNotifications td.notificationsClickableCell:hover {
	cursor: pointer;
	/* CSS3 glow effect: */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 5px $main_blue_light_highlight;
	-webkit-box-shadow: 0 0 5px $main_blue_light_highlight;
	box-shadow: 0 0 5px $main_blue_light_highlight;
}

// /* GROUP CONTAINER */
.j-single-lesson:hover {
 	border-color: $main_singlelesson_hover_border;
 	background-color: $main_singlelesson_hover_background;
 	display: block;
 	/* CSS3 glow effect: */
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
 	-moz-box-shadow: 0 0 5px $main_blue_light_highlight;
 	-webkit-box-shadow: 0 0 5px $main_blue_light_highlight;
 	box-shadow: 0 0 5px $main_blue_light_highlight;
 }
 
.j-single-lesson:hover .lesson-actions {
 	opacity: 1;
 	display: block;
}

.j-single-lesson:hover .mycourses-monitor-img {
}

.j-single-lesson:hover .mycourses-mark-img {
}

.j-single-lesson:hover .mycourses-notifications-img {
}

.j-single-lesson:hover .mycourses-conditions-img {
}

.j-single-lesson:hover .mycourses-removelesson-img {
}

.j-single-lesson:hover .mycourses-move-img {
	background: url('../images/css/arrow_move.png') no-repeat 0 0px;
}

.lesson-actions {
	opacity: 0.3;
}

.course-right-buttons {
	padding-right: 10px;
	display: inline-flex;
	>.btn-group {
		margin: 5px 1px;
		> .btn:not(.dropdown-toggle){
			padding-right: 0;
		}
	}
	.a {
		color: #fff;
	}
}
 
.group-name {
	margin-top: 50px;
}
